@charset "UTF-8";
/* Define the CSS variable */
/*Global Colors — Base Palette*/
/*The Global Base Color Palette is to be shared across all Emerson digital properties and intended to ensure consistency for all basic content UI such as text elements (color options for both light & dark backgrounds), form errors and warning notifications. Utilizing these colors globally across sites and applications will ensure all brands are consistently promoting appropriate contrast standards and readability best practices.

Global Colors — Grey Scale Palette*/
body {
  font-family: "Noto Sans", sans-serif;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Noto Sans", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Noto Sans", sans-serif;
}

input, textarea, input[type=checkbox] {
  font-family: "Noto Sans", sans-serif;
  border: none;
  background-color: #dedfe0; /* Light gray background */
  transition: border-color 0.3s;
  max-width: inherit;
}

::-moz-placeholder {
  color: #c9cacc; /* Placeholder Text Color */
}

::placeholder {
  color: #c9cacc; /* Placeholder Text Color */
}

input:focus, textarea:focus {
  border-color: none; /* Change border color on focus */
  outline: none; /* Remove default outline */
}

input[type=checkbox]:checked::after {
  content: "✓"; /* Checkmark character */
  position: relative;
  color: #00805a; /* Color of the checkmark */
  font-size: 16px; /* Adjust the size of the checkmark */
}

label {
  font-family: "Noto Sans", sans-serif;
}

/*$breakpoint-large: 1280px;
$container-width: 1180px;
$container-margin: 50px;*/
/* Default Hyperlink */
.emr-link {
  font-weight: 400; /* Book */
  color: #007bff; /* Brand Primary */
  text-decoration: underline;
}

.emr-link:hover {
  color: #006fe6; /* Darkened Brand Primary */
  text-decoration: none;
}

/* Global Navigation Links — Header Menu Items */
.emr-nav-link-header {
  font-size: 0.75rem; /* 12px */
  font-weight: 400; /* Book */
  line-height: 1rem; /* 16px */
  color: var(--emr-rich-black); /* Rich Black */
  text-decoration: none;
}

.emr-nav-link-header:hover {
  color: var(--brand-secondary); /* Brand Secondary */
  text-decoration: underline;
}

/* Global Navigation Links — Utility Menu Items */
.emr-nav-link-utility {
  font-size: 0.875rem; /* 14px */
  font-weight: 500; /* Medium */
  line-height: 1rem; /* 16px */
  text-align: right;
  color: white;
  text-decoration: none;
}

.emr-nav-link-utility:hover {
  text-decoration: underline;
}

/* Global Navigation Links — Footer Menu Items */
.emr-nav-link-footer {
  font-size: 1rem; /* 16px */
  font-weight: 300; /* Light */
  line-height: 1.5rem; /* 24px */
  color: white;
  text-decoration: none;
}

.emr-nav-link-footer:hover {
  text-decoration: underline;
}

/* Global Navigation Links — Footer Legal Items */
.emr-nav-link-footer-legal {
  font-size: 0.75rem; /* 12px */
  font-weight: 500; /* Medium */
  line-height: 1rem; /* 16px */
  color: #a8a8a8; /* Warm Grey */
}

.emr-nav-link-footer-legal:hover {
  color: white;
}

/* Tab Label Links */
.emr-tab-link {
  font-size: 0.75rem; /* 12px */
  font-weight: 600; /* Semibold */
  line-height: 1rem; /* 16px */
  color: var(--emr-rich-black); /* Rich Black */
  text-transform: uppercase;
}

.emr-tab-link:hover {
  color: #006fe6; /* Darkened Brand Primary */
}

.emr-tab-link-selected {
  color: #007bff; /* Brand Primary */
}

/* Reversed Tab Label Links */
.emr-tab-link-reversed {
  font-size: 0.75rem; /* 12px */
  font-weight: 600; /* Semibold */
  line-height: 1rem; /* 16px */
  color: white;
  text-transform: uppercase;
  background-color: #007bff; /* Brand Primary */
}

.emr-tab-link-reversed:hover {
  background-color: #006fe6;
}

.emr-tab-link-reversed-selected {
  background-color: #006fe6;
  border-bottom: 0.25rem solid white; /* White Bottom Border */
}

/* Title Links */
.emr-title-link {
  font-size: 0.875rem; /* 14px */ /* or 1rem (16px) */
  font-weight: 400; /* Book */ /* or 500 (Medium) */
  line-height: 1.5rem; /* 24px */
  color: var(--emr-rich-black); /* Rich Black */
}

.emr-title-link:hover {
  color: #007bff; /* Brand Primary */
}

.emr-checkbox-container {
  font-size: 1rem; /* 16px */
  line-height: 1rem; /* 16px */
  margin-bottom: 0.9375rem; /* 15px */
  font-family: "Noto Sans", sans-serif;
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.emr-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.emr-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  margin-bottom: 0.625rem; /* 10px */
  border-color: #dedfe0;
  border: 2px solid #9fa1a4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.emr-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.emr-checkbox-container input:checked ~ .emr-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.emr-checkbox-container .emr-checkbox:after {
  left: 5px;
  top: 0px;
  width: 7px;
  height: 14px;
  border: solid #00805a;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Input Field with Placeholder Text */
.emr-input-field {
  font-size: 1rem; /* 16px */
  line-height: 1.625rem; /* 26px */
  padding-left: 15px;
  padding-right: 15px;
}

/* Input with Hint Text */
.emr-input-hint {
  font-size: 0.75rem; /* 12px */
  line-height: 1.25rem; /* 20px */
  margin-bottom: 1.875rem; /* 30px */
  max-width: 260ch;
}

/* Define the CSS variable */
/*Global Colors — Base Palette*/
/*The Global Base Color Palette is to be shared across all Emerson digital properties and intended to ensure consistency for all basic content UI such as text elements (color options for both light & dark backgrounds), form errors and warning notifications. Utilizing these colors globally across sites and applications will ensure all brands are consistently promoting appropriate contrast standards and readability best practices.

Global Colors — Grey Scale Palette*/
.emr-custom-select {
  position: relative;
  font-family: Arial;
}

.emr-custom-select select {
  display: none;
}

.emr-select-selected {
  background-color: #ffffff;
  border: 1px solid #262728;
}

.emr-select-selected:hover {
  background-color: #8a8c90;
}

/*style the arrow inside the select element:*/
.emr-select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid #262728;
  border-color: #262728 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.emr-select-selected.select-arrow-active:after {
  border-color: transparent transparent #262728 transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.emr-select-items div,
.emr-select-selected {
  color: #262728;
  padding: 8px 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.emr-select-selected.select-arrow-active {
  border-bottom: none; /* Remove original border on active */
}

.emr-select-selected.select-arrow-active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%; /* Center border */
  width: 80%;
  height: 1px;
  background-color: #8a8c90; /* Replace with desired color */
}

/*style items (options):*/
.emr-select-items {
  position: absolute;
  border: 1px solid transparent;
  border-color: transparent #262728 #262728 #262728;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  max-height: 0; /* Set max height */
  overflow-y: auto;
  animation: slideDown 0.3s ease forwards;
}

/*hide the items when the select box is closed:*/
.emr-select-hide {
  display: none;
}

.emr-select-items div:hover,
.same-as-selected {
  color: #00805a;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 300px;
    opacity: 1;
  }
}
/* Form Heading */
.emr-form-heading {
  font-size: 1.3125rem; /* 21px */
  line-height: 1.6875rem; /* 27px */
  max-width: 39ch;
}

/* Field Label with "(Optional)" Marker */
.emr-field-label {
  font-size: 0.75rem; /* 12px */
  font-weight: 600; /* Semibold */
  line-height: 0.875rem; /* 14px */
  margin-bottom: 0.4375rem; /* 7px */
}

.emr-field-label-optional {
  font-weight: 300; /* Light */
}

/* Text Area */
.emr-text-area {
  font-size: 1rem; /* 16px */
  line-height: 1.625rem; /* 26px */
  padding: 15px;
}

/* Radio Button */
.emr-radio-button {
  border: 2px solid #00805a; /* Warm Grey */
  height: 18px;
  width: 18px;
  margin-bottom: 0.625rem; /* 10px */
  accent-color: #00805a;
}

/* Radio Button Label */
.emr-radio-label {
  font-size: 1rem; /* 16px */
  line-height: 1rem; /* 16px */
  margin-bottom: 0.9375rem; /* 15px */
  font-family: "Noto Sans", sans-serif;
}

/* Display Title */
.emr-display-title {
  font-size: 3.5rem; /* 56px */
  font-weight: 300;
  line-height: 4rem; /* 64px */
}

/* Heading Elements */
.emr-h1, .emr-h2, .emr-h3, .emr-h4, .emr-h5, .emr-h6 {
  font-weight: 300;
  margin: 0;
}

.emr-h1 {
  font-size: 2.75rem; /* 44px */
  line-height: 3.5rem; /* 56px */
}

.emr-h2 {
  font-size: 2.25rem; /* 36px */
  line-height: 3rem; /* 48px */
}

.emr-h3 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.5rem; /* 40px */
}

.emr-h4 {
  font-size: 1.5rem; /* 24px */
  font-weight: 400;
  line-height: 2rem; /* 32px */
}

.emr-h5 {
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  line-height: 1.5rem; /* 24px */
}

.emr-h6 {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  line-height: 1.5rem; /* 24px */
}

/* Paragraph Styles */
.emr-paragraph {
  font-size: 1rem; /* 16px */
  font-weight: 300;
  line-height: 1.5rem; /* 24px */
}

.emr-article-body {
  font-size: 1.125rem; /* 18px */
  font-weight: 300;
  line-height: 2rem; /* 32px */
}

.emr-body-p1 {
  font-size: 1.75rem; /* 28px */
  font-weight: 300;
  line-height: 2.5rem; /* 40px */
}

.emr-body-p2 {
  font-size: 1.375rem; /* 22px */
  font-weight: 300;
  line-height: 2rem; /* 32px */
}

.emr-body-p3 {
  font-size: 1.125rem; /* 18px */
  font-weight: 300;
  line-height: 1.5rem; /* 24px */
}

.emr-body-p4 {
  font-size: 0.875rem; /* 14px */
  font-weight: 300;
  line-height: 1.5rem; /* 24px */
}

.emr-body-p5 {
  font-size: 0.75rem; /* 12px */
  font-weight: 400;
  line-height: 1rem; /* 16px */
}

.emr-body-p6 {
  font-size: 0.625rem; /* 10px */
  font-weight: 400;
  line-height: 1rem; /* 16px */
}

/* Bold, Italic, and Underline Text Styles */
.emr-bold {
  font-weight: 600;
}

.emr-italic {
  font-style: italic;
}

.emr-underline {
  text-decoration: underline;
}

/* Subscript and Superscript */
.emr-subscript, .emr-superscript {
  font-size: 0.75em;
  line-height: inherit;
}

/* Label */
.emr-label {
  font-size: 0.75rem; /* 12px */
  font-weight: 600;
  letter-spacing: 0.08em;
  line-height: 1rem; /* 16px */
  text-transform: uppercase;
}

/* Eyebrow */
.emr-eyebrow {
  font-size: 0.75rem; /* 12px */
  font-weight: 600;
  letter-spacing: 0.08em;
  line-height: 1rem; /* 16px */
  color: #004b8d;
  text-transform: uppercase;
}

/* List Styles */
.emr-ordered-list, .emr-unordered-list {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Block Quote */
.emr-block-quote {
  font-size: 1.375rem; /* 22px */
  font-weight: 300;
  line-height: 2rem; /* 32px */
  font-style: italic;
}

/* Define the CSS variable */
/*Global Colors — Base Palette*/
/*The Global Base Color Palette is to be shared across all Emerson digital properties and intended to ensure consistency for all basic content UI such as text elements (color options for both light & dark backgrounds), form errors and warning notifications. Utilizing these colors globally across sites and applications will ensure all brands are consistently promoting appropriate contrast standards and readability best practices.

Global Colors — Grey Scale Palette*/
.emr-breadcrumb a {
  font-size: 0.75rem;
  color: #8a8c90;
  text-decoration: none;
  transition: -webkit-text-decoration 0.2s ease;
  transition: text-decoration 0.2s ease;
  transition: text-decoration 0.2s ease, -webkit-text-decoration 0.2s ease;
}

.emr-breadcrumb a:hover {
  text-decoration: underline;
}

.emr-breadcrumb span {
  color: #8a8c90;
}

/* Define the CSS variable */
/*Global Colors — Base Palette*/
/*The Global Base Color Palette is to be shared across all Emerson digital properties and intended to ensure consistency for all basic content UI such as text elements (color options for both light & dark backgrounds), form errors and warning notifications. Utilizing these colors globally across sites and applications will ensure all brands are consistently promoting appropriate contrast standards and readability best practices.

Global Colors — Grey Scale Palette*/
.emr-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.emr-pagination-item {
  color: #00573d;
  background-color: none;
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  border: none;
}

.emr-pagination-item:hover {
  cursor: pointer;
  color: #00805a;
  text-decoration: underline;
}

.emr-pagination .active {
  color: #121313;
}/*# sourceMappingURL=main.css.map */