@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 20;
    width: 100%;
    background-color: #00573D;
    height: 75px;
    color: #fff;
    font-family: "Noto Sans";
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.96px;
    text-decoration: none;
}

.nav {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
}

.nav > div.active {
    background-color: #00805a;
    border-bottom: 3px solid #fff;
    transition: background-color 0.3s linear;
    transition: border-bottom 0.3s ease-in-out;
}


.nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.nav > div:hover {
    background-color: #00805a;
    cursor: pointer;
    transition: background-color 0.3s linear;
}


section {
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}