.registration-email-template {
    background-color: #fff;
    border-radius: 0.7rem;
    padding: 1.5rem 1rem;
    max-width: 1200px;
}

.registration-email-template .logo-container {
    display: flex;
    height: 50px;
    align-items: center;
}

.registration-email-template .logo-container .logo-sentence {
    color: #626467;
}

.registration-email-template .logo-container .image-container {
    border-right: 2px solid #dedfe0;
    padding-right: 1rem;
    margin-right: 2rem;
}

.registration-email-template .logo-container .image-container .image {
    height: 64px;
}

.registration-email-template .para-1 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.registration-email-template .para-2 {
    margin-bottom: 0.4rem;
}

.registration-email-template .para-3 {
    margin-bottom: 1rem;
}

.registration-email-template .para-4 {
    margin-bottom: 1rem;
}

.registration-email-template .para-5 {
    margin: auto;
    width: fit-content;
}

.registration-email-template .contact {
    text-decoration: underline;
}

.registration-email-template .emr-primary--button {
    max-width: 280px;
    margin: auto;
    margin-bottom: 1rem;
}

.registration-email-template .hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #c9cacc;
}

.registration-email-template .social-icons {
    display: flex;
    gap: 1rem;
    margin: auto;
    width: fit-content;
    margin-bottom: 1rem;
}

.registration-email-template .social-icons .social-icon {
    width: 24px;
    height: 24px;
    border: 1px solid;
}