<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        background-color: #fff;
        border-radius: 0.7rem;
        padding: 1.5rem 1rem;
        max-width: 1200px;
        font-family: 'Noto Sans', sans-serif;
      "
    >
      <!-- Replace flexbox with table layout for better email client compatibility -->
      <table cellpadding="0" cellspacing="0" border="0" style="height: 50px">
        <tr>
          <td style="vertical-align: middle; padding-right: 1rem">
            <img
              src="https://www.emerson.com/resource/blob/emerson-logo-data-1191220.png"
              alt=""
              style="height: 64px; display: block"
            />
          </td>
          <!-- Use a table cell with border instead of absolute positioning -->
          <td style="width: 2px; vertical-align: middle">
            <div style="height: 32px; border-right: 2px solid #dedfe0"></div>
          </td>
          <td style="vertical-align: middle; padding-left: 1rem">
            <span style="color: #626467">Discrete Automation</span>
          </td>
        </tr>
      </table>

      <div
        style="
          line-height: 24px;
          font-size: 1rem;
          font-weight: 300;
          font-size: 24px;
          line-height: 32px;
          margin-top: 5rem;
          margin-bottom: 2rem;
          font-weight: 400;
        "
      >
        Your Registration is complete
      </div>
      <div
        style="
          line-height: 24px;
          font-size: 1rem;
          font-weight: 300;
          margin-bottom: 0.4rem;
          font-weight: 400;
          margin-bottom: 1rem;
        "
      >
        Hi [firstname] [lastname]
      </div>
      <div
        style="
          line-height: 24px;
          font-size: 1rem;
          font-weight: 300;
          margin-bottom: 1rem;
          font-weight: 400;
        "
      >
        Lorem ipsum dolor sit amet consectetur
        <span style="text-decoration: underline">Emerson.com</span>
        elit. Rem ab adipisci impedit libero consectetur molestias!
      </div>
      <div
        style="
          line-height: 24px;
          font-size: 1rem;
          font-weight: 300;
          margin: auto;
          width: fit-content;
          margin-top: 4rem;
          font-weight: 400;
        "
      >
        Question? <span style="text-decoration: underline">Contact Us</span>
      </div>
      <hr
        style="
          margin-top: 1rem;
          margin-bottom: 2rem;
          border-top: 1px solid #c9cacc;
        "
      />
      <div
        style="
          display: flex;
          gap: 1rem;
          margin: auto;
          width: fit-content;
          margin-bottom: 3rem;
        "
      >
        <div style="width: 24px; height: 24px; margin-right: 1rem">
          <img
            src="https://www.citypng.com/public/uploads/preview/round-black-facebook-fb-logo-icon-sign-701751695134781upkxjlqwck.png"
            alt=""
            style="width: 100%; height: 100%; object-fit: cover"
          />
        </div>
        <div style="width: 24px; height: 24px; margin-right: 1rem">
          <img
            src="https://images.rawpixel.com/image_png_social_square/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTEwNC1wLnBuZw.png"
            alt=""
            style="width: 100%; height: 100%; object-fit: cover"
          />
        </div>
        <div style="width: 24px; height: 24px; margin-right: 1rem">
          <img
            src="https://i.pinimg.com/564x/6b/ab/30/6bab3017350ca04c6fa05569672bd31e.jpg"
            alt=""
            style="width: 100%; height: 100%; object-fit: cover"
          />
        </div>
        <div style="width: 24px; height: 24px">
          <img
            src="https://i.pinimg.com/736x/99/65/5e/99655e9fe24eb0a7ea38de683cedb735.jpg"
            alt=""
            style="width: 100%; height: 100%; object-fit: cover"
          />
        </div>
      </div>
      <div
        style="
          line-height: 24px;
          font-size: 1rem;
          font-weight: 300;
          font-weight: 400;
          text-align: center;
        "
      >
        Lorem ipsum dolor sit amet consectetur,
        <span style="text-decoration: underline">adipisicing</span>
        elit. Sapiente nam quae temporibus dicta laboriosam consectetur magni
        harum blanditiis quia enim.
      </div>
    </div>
  </body>
</html>
