<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./email-template.css" />
  </head>
  <body>
    <div class="registration-email-template">
      <div class="logo-container">
        <div class="image-container">
          <img
            src="https://www.emerson.com/resource/blob/emerson-logo-data-1191220.png"
            alt=""
            class="image"
          />
        </div>
        <span class="logo-sentence">Discrete Automation</span>
      </div>
      <div class="emr-paragraph para-1">Reset Your Password</div>
      <div class="emr-paragraph para-2">Lorem, ipsum dolor.</div>
      <div class="emr-paragraph para-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab adipisci
        impedit libero consectetur molestias!
      </div>
      <div class="para-5 emr-paragraph">
        Question? <span class="contact">Contact Us</span>
      </div>
      <hr class="hr" />
      <div class="social-icons">
        <div class="social-icon"></div>
        <div class="social-icon"></div>
        <div class="social-icon"></div>
        <div class="social-icon"></div>
      </div>
      <div class="emr-paragraph para-6">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente nam
        quae temporibus dicta laboriosam consectetur magni harum blanditiis quia
        enim.
      </div>
    </div>
  </body>
</html>
