.order-detail-container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 2rem;
}

.order-detail-container .para-1 {
    font-size: 24px;
    line-height: 32px;
}

.order-detail-container .para-2 {
    font-size: 27px;
    line-height: 34px;
    margin-bottom: 0.5rem;
}

.order-detail-container .select {
    width: 100%;
    height: 48px;
    margin-top: 1rem;
}

.order-detail-container .select:focus {
    outline: none;
}

.order-detail-container .select-2 {
    width: 75%;
    height: 48px;
}

.order-detail-container .select-2:focus {
    outline: none;
}

.order-detail-container .mini {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .order-detail-container .mini {
        margin-top: 1rem;
    }
}

.order-detail-container .emr-primary--button,
.order-detail-container .emr-secondary--button {
    width: 280px;
}

.order-detail-container .emr-primary--button {
    margin-bottom: 1rem;
}

.order-detail-container .emr-input {
    height: 40px;
    padding-left: 0.5rem;
    background-color: #f3f3f3;
}

.order-detail-container .order-detail-inner-container {
    display: flex;
    justify-content: space-between;
}

.order-detail-container .order-detail-inner-container>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .order-detail-container .order-detail-inner-container {
        flex-direction: column;
        gap: 2rem;
        max-width: 704px;
        margin: auto;
    }
}

.order-detail-container .span {
    font-size: 12px;
}

.order-detail-container .bold-text {
    font-weight: 500;
    margin-left: 0.5rem;
}

.order-detail-container .emr-primary-text-cta {
    margin-top: 1.5rem;
    justify-content: flex-start;
}

@media screen and (max-width: 767px) {
    .order-detail-container .emr-primary-text-cta {
        max-width: 704px;
        margin: auto;
        margin-bottom: 1rem;
    }
}

.order-detail-container .table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
}

@media screen and (max-width: 767px) {
    .order-detail-container .table {
        gap: 2rem;
        max-width: 704px;
        margin: auto;
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }

    .order-detail-container .table .nested-table {
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }

    .order-detail-container .table .actions {
        position: sticky;
        right: 0;
        background: white;
    }
}

.order-detail-container .table>thead th {
    font-weight: 500;
    border-bottom: 1px solid #c9cacc;
    padding-bottom: 0.5rem;
    text-align: left;
}

.order-detail-container .table>thead th:last-child {
    text-align: right;
}

.order-detail-container .table>tbody tr {
    border-bottom: 1px solid #c9cacc;
}

.order-detail-container .table>tbody td {
    font-weight: 300;
    padding: 0.75rem 0.5rem 0.75rem 0;
}

.order-detail-container .table>tbody .actions {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.order-detail-container .table>tbody .toggle-arrow {
    cursor: pointer;
    margin-right: 12px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-detail-container .table>tbody .toggle-arrow.active {
    transform: rotate(180deg);
}

.order-detail-container .table>tbody .nested-row {
    background-color: transparent;
    display: table-row;
}

.order-detail-container .table>tbody .nested-row>td {
    padding: 0 !important;
    border-top: 0;
    border-bottom: 0;
    transition: padding 0.4s cubic-bezier(0, 1, 0, 1);
}

.order-detail-container .table>tbody .nested-row .content-wrapper {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
    background-color: #eeeeee;
}

.order-detail-container .table>tbody .nested-row.active>td {
    transition: padding 0.6s ease-in-out;
}

.order-detail-container .table>tbody .nested-row.active .content-wrapper {
    max-height: 3000px;
    transition: max-height 0.6s ease-in-out;
}

.order-detail-container .table>tbody .nested-row .nested-table {
    width: 100%;
    border-collapse: collapse;
}

.order-detail-container .table>tbody .nested-row .nested-table th {
    font-weight: 500;
    text-align: left;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #c9cacc;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 0.5rem;
}

.order-detail-container .table>tbody .nested-row .nested-table td {
    font-size: 0.9rem;
    padding: 0.5rem 0.25rem;
}

.order-detail-container .table>tbody .nested-row .nested-table tbody tr {
    border-bottom: none;
}

.order-detail-container .table>tbody .nested-row .nested-table tr:last-child td {
    border-bottom: none;
}

.order-detail-container .table>tbody .nested-row .second-table {
    margin-top: 1.5rem;
    border-top: 1px solid #c9cacc;
    padding-top: 0.5rem;
}