@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Typography styles */
.text-light {
    font-family: "Noto Sans";
    font-weight: 300;
}

.text-regular {
    font-family: "Noto Sans";
    font-weight: 400;
}

.text-medium {
    font-family: "Noto Sans";
    font-weight: 500;
}

.text-semibold {
    font-family: "Noto Sans";
    font-weight: 600;
}

.text-bold {
    font-family: "Noto Sans";
    font-weight: 700;
}

.text-light-italic {
    font-family: "Noto Sans";
    font-weight: 300;
    font-style: italic;
}

.text-regular-italic {
    font-family: "Noto Sans";
    font-weight: 400;
    font-style: italic;
}

.text-medium-italic {
    font-family: "Noto Sans";
    font-weight: 500;
    font-style: italic;
}

.text-semibold-italic {
    font-family: "Noto Sans";
    font-weight: 600;
    font-style: italic;
}

.text-bold-italic {
    font-family: "Noto Sans";
    font-weight: 700;
    font-style: italic;
}


/* Breadcrumb */
.breadcrumb a {
    font-size: 0.75rem;
    color: #C0C0C0;
    text-decoration: none;
    transition: text-decoration 0.2s ease;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    color: #C0C0C0;
}


/* Put it on checkbox Checkbox */
.checkbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #C0C0C0;
    margin-bottom: .625rem;
    position: relative;
    cursor: pointer;
}

/* Put it on Checkbox Label */
.checkbox-label {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: .9375rem;
}

.checkbox:hover {
    background-color: #C0C0C0;
    box-shadow: inset 2px 2px 2px #FFF;
}

.checkbox:checked {
    background-color: #fff;
}

.checkbox:checked::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 2px;
    width: 8px;
    height: 12px;
    border: solid #00805a;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/* Dropdown */
.dropdown {
    background-color: #FFFFFF; /* White */
    border: 1px solid #0B0B0B; /* Rich Black */
    font-size: .875rem; /* 14px */
    line-height: 1rem; /* 16px */
    color: #0B0B0B; /* Rich Black */
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

/* Hover State */
.dropdown:hover {
    background-color: #B1B1B1; /* Cool Grey (Darkened 5%) */
}

/* Active State */
.dropdown:active {
    background-color: #FFFFFF; /* White */
}
