@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Typography styles */
.text-light {
    font-family: "Noto Sans";
    font-weight: 300;
}

.text-regular {
    font-family: "Noto Sans";
    font-weight: 400;
}

.text-medium {
    font-family: "Noto Sans";
    font-weight: 500;
}

.text-semibold {
    font-family: "Noto Sans";
    font-weight: 600;
}

.text-bold {
    font-family: "Noto Sans";
    font-weight: 700;
}

.text-light-italic {
    font-family: "Noto Sans";
    font-weight: 300;
    font-style: italic;
}

.text-regular-italic {
    font-family: "Noto Sans";
    font-weight: 400;
    font-style: italic;
}

.text-medium-italic {
    font-family: "Noto Sans";
    font-weight: 500;
    font-style: italic;
}

.text-semibold-italic {
    font-family: "Noto Sans";
    font-weight: 600;
    font-style: italic;
}

.text-bold-italic {
    font-family: "Noto Sans";
    font-weight: 700;
    font-style: italic;
}


/* Breadcrumb */
.breadcrumb a {
    font-size: 0.75rem;
    color: #C0C0C0;
    text-decoration: none;
    transition: text-decoration 0.2s ease;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    color: #C0C0C0;
}


/* Put it on checkbox Checkbox */
.checkbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #C0C0C0;
    margin-bottom: .625rem;
    position: relative;
    cursor: pointer;
}

/* Put it on Checkbox Label */
.checkbox-label {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: .9375rem;
}

.checkbox:hover {
    background-color: #C0C0C0;
    box-shadow: inset 2px 2px 2px #FFF;
}

.checkbox:checked {
    background-color: #fff;
}

.checkbox:checked::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 2px;
    width: 8px;
    height: 12px;
    border: solid #00805a;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Buttons */
.button-arrow, .button-arrow-diagonal, .button-secondary, .button-tertiary, .button-cta-primary {
    min-width: 280px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00573D;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-family: "Noto Sans";
}

.button-arrow-diagonal:hover,
.button-arrow:hover {
    background-color: #00805A;
}

.arrow, .diagonal-arrow {
    margin-left: 4px;
    transition: transform 0.3s ease;
}

.button-arrow:hover .arrow,
.button-secondary:hover .arrow,
.button-tertiary:hover .arrow,
.button-cta-primary:hover .arrow {
    transform: translateX(4px);
}

.button-arrow-diagonal:hover .diagonal-arrow {
    transform: translate(4px, -4px) rotate(45deg);
}

.button-secondary {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.button-tertiary {
    background-color: #C4CED1;
    color: #000;
}

.button-secondary:hover {
    background-color: #C4CED1;
}

.button-tertiary:hover {
    background-color: hsl(195, 13%, 74%);
}

.button-cta-primary {
    height: 0px;
    min-width: fit-content;
    background-color: transparent;
    color: #00573D;
}

.button-cta-primary:hover {
    color: #00805A;
    transition: color 0.3s ease;
}

.hyperlink {
    color: #00573D;
    text-decoration: underline;
    text-decoration-color: #00573D;
    font-size: inherit;
}

.hyperlink:hover {
    cursor: pointer;
    text-decoration: none;
}